<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="My Suite">

  <listeners>
	<listener class-name="com.rupjit.automationqa.listeners.TestsListenerAdapter"/>
	<listener class-name="com.rupjit.automationqa.listeners.ExtentReportListener"/>
	<listener class-name="com.rupjit.automationqa.listeners.TestAllureListener"/>
	<listener class-name="com.rupjit.automationqa.listeners.AnnotationTransformer"/>
  </listeners>
  <!-- <suite-files>
		<suite-file path="./suiteA.xml" />
		<suite-file path="./suiteB.xml" />
		<suite-file path="./suiteC.xml" />
	</suite-files> -->
	<test name="Testing">
		<classes>
<!-- 			<class name="com.rupjit.automationqa.testcases.LoginPageTest"></class>
			<class name="com.rupjit.automationqa.testcases.HomePageTest"></class> -->
			<class name="com.rupjit.automationqa.testcases.WorkflowDesignerPageTest"></class>
		</classes>
	
	</test>

</suite> <!-- Suite -->
